<!DOCTYPE html>
<html ng-app="music">
  <head>
    <link rel="stylesheet" href="assets/vendor/foundation/css/foundation.css">
    <link rel="stylesheet" href="assets/vendor/foundation-icons/foundation-icons.css">
    <title ng-controller="MediaPlayer">Now Playing: {{current.title}}</title>
    <script type="text/javascript" src="bower_components/angular/angular.js">
    </script>
    <script type="text/javascript" src="app/app.js"></script>
  </head>
  <body>
      <div ng-controller="MediaPlayer">
        <input type="file" multiple files-model="fileList">
        <div>
          <header><h1>Playlist</h1></header>

            <div class="row" ng-repeat="track in fileList">
              <div class="small-12 columns">
                <a href="" ng-click="play(track)">{{track.title}}</a>
              </div>
            </div>

        </div>
        <div>
          <button ng-click="prev()" class="fi-previous"></button>
          <button ng-click="play()" class="fi-play"></button>
          <button ng-click="next()" class="fi-next"></button>
          <div>
            {{current.title}}
          </div>
        </div>
        <audio
          src="{{current.src}}"
          controls
          autoplay
          media-player
          on-ended="next"
        ></audio>
    </div>
  </body>
</html>
