<!DOCTYPE html>
<html ng-app="music">
  <head>
    <title>Hello World!</title>
    <script type="text/javascript" src="bower_components/angular/angular.js">
    </script>
    <script type="text/javascript" src="app/app.js"></script>
  </head>
  <body>
      <div ng-controller="MediaPlayer">
        <input type="file" multiple files-model="fileList">
        <div>
          <header><h1>Playlist</h1></header>
          <ul>
            <li ng-repeat="track in fileList">
              <a href="" ng-click="play(track)">{{track.title}}</a>
            </li>
          </ul>
        </div>
        <div>
          <button ng-click="prev()">Prev</button>
          <button ng-click="play()">Play</button>
          <button ng-click="next()">Next</button>
          <div>
            {{current.title}}
          </div>
        </div>
    </div>
  </body>
</html>
